<nav class="navbar navbar-expand-sm">

	<!-- Links -->
	<table>
		<tr class="headers shadowed">
			<td back routerLink="/"></td>
			<td current class="active"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr class="texts">
			<td back routerLink="/">
				<a>Назад </a>
			</td>
			<td current>
				<a>{{context.currentPage}}</a>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</nav>
<div class="container body-content">
	<router-outlet></router-outlet>
	<footer>
	</footer>
</div>