<div class="main-page">
	<div class="main-page-splitter"></div>
	<div class="row align-bottom">
		<div class="col-md-3 link-block bottom-align-text" about routerLink="../about-me">
			<div style="background: #f36c35" class="shadowed text-block">
				<span class="align-bottom">Обо мне</span>
			</div>
		</div>
		<div class="col-md-6 link-block bottom-align-text ">
			<div style="color: #272b8e;" class="text-block central-block">
				<span>
					Попова Анна<br/>
					Дизайнер
				</span>
			</div>
		</div>
		<div class="col-md-3 link-block bottom-align-text ">
			<div style="background: #ee9d9c" class="shadowed text-block">
				<span>Почему я?</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 link-block bottom-align-text " cv routerLink="../cv">
			<div style="background: #b2d135" class="shadowed text-block" >
				<span>Резюме</span>
			</div>
		</div>
		<div class="col-md-6 link-block bottom-align-text " portfolio routerLink="../portfolio">
			<div style="background: #5bc9e0" class="shadowed text-block">
				<span>Портфолио</span>
			</div>
		</div>
		<div class="col-md-3 link-block bottom-align-text " contacts routerLink="../contacts">
			<div style="background: #fef200; color: #6b6274" class="shadowed text-block">
				<span>Контакты</span>
			</div>
		</div>
	</div>
</div>