<div class="about">
	<div class="row">
		<div class="col-md-3">
			<img src="/assets/trash/photo.jpg" class="img-fluid"/>
		</div>
		<div class="col-md-9 about-container">
			<p>
				Здравствуйте! Меня зовут Анна, мне {{age}} лет.<br/>
				Творчество было моим хобби с детства. В 1999 я поступила в художественную школу и
				закончила ее в 2005, в 2007 году поступила в университет по cпециализации Ландшафтный дизайн.<br/>
				Я рисую в разных стилях как с помощью компьютера, так и от руки.<br/>
				С 2008 года подрабатывала фрилансом.<br/>
				С 2013 года по октябрь 2015 работала в компании «ДизАрти» на должности дизайнера.<br/>
				C января 2016 года работала дизайнером в ООО «ПетРитейл», сети зоомагазинов Бетховен.<br/>
				С февраля 2017 по настоящее время работаю дизайнером в департаменте игрушек издательства «РОСМЭН»
			</p>
			<p>
				Работая с материалом, проявляю скрупулезность, нацеливаюсь на качество и скорость выполнения задач. 
				Уделяю много внимания деталям. В то же время, не затягиваю рабочий процесс. Самоорганизована, дисциплинирована. 
				Уверенно пользуюсь пк. Быстро осваиваю новые программы и технику. Способна и готова к обучению, в том
				числе и самообучению.
				Имею большой опыт работы в сжатых сроках, с несколькими задачами.
			</p>
			<p>
				Не имею вредных привычек, в свободное время занимаюсь чтением,фитнесом рисованием.<br/>
				Увлекаюсь рисунком, рукоделием.
			</p>
		</div>
	</div>
</div>